{%extends 'base.html'%}

{%block title%} {{post.post_title}} {%endblock%}

{%block content%}
<main class="main-wrap">
  <article>
    <div class="l-content in-post">
      <div class="l-wrapper in-post js-aos-wrapper aos-init aos-animate">
        <div class="l-post-content js-progress-content">
          <header class="m-heading">
            <h1 class="m-heading__title in-post">{{post.post_title}}</h1>
            <div class="m-heading__meta">
              <a href="/category/{{cat.cat_url}}"
                class="m-heading__meta__tag">{{cat.cat_title}}</a>
              <span class="m-heading__meta__divider" aria-hidden="true">•</span>
              <span class="m-heading__meta__time">{{ post.whenpublished }}</span>
            </div>
          </header>
          <div class="pos-relative js-post-content">
            <div class="m-share">
              <div class="m-share__content js-sticky">
                <a class="m-icon-button filled in-share"
                  href="whatsapp://send?text=%E0%A6%AE%E0%A6%BF%E0%A7%9F%E0%A6%BE%E0%A6%A8%E0%A6%AE%E0%A6%BE%E0%A6%B0%E0%A7%87%E0%A6%B0+%E0%A6%A8%E0%A6%BF%E0%A6%B0%E0%A7%8D%E0%A6%AC%E0%A6%BE%E0%A6%9A%E0%A6%A8+%E0%A6%95%E0%A7%8B%E0%A6%A8%E0%A7%8B+%E0%A6%86%E0%A6%B8%E0%A7%8D%E0%A6%A5%E0%A6%BE%E0%A6%B0+%E0%A6%9C%E0%A6%BE%E0%A7%9F%E0%A6%97%E0%A6%BE+%E0%A6%A4%E0%A7%88%E0%A6%B0%E0%A6%BF+%E0%A6%95%E0%A6%B0%E0%A7%87+%E0%A6%A8%E0%A6%BE http%3A%2F%2Fblog.decktheme.ml%2F%25e0%25a6%25ae%25e0%25a6%25bf%25e0%25a7%259f%25e0%25a6%25be%25e0%25a6%25a8%25e0%25a6%25ae%25e0%25a6%25be%25e0%25a6%25b0%25e0%25a7%2587%25e0%25a6%25b0-%25e0%25a6%25a8%25e0%25a6%25bf%25e0%25a6%25b0%25e0%25a7%258d%25e0%25a6%25ac%25e0%25a6%25be%25e0%25a6%259a%25e0%25a6%25a8-%25e0%25a6%2595%25e0%25a7%258b%25e0%25a6%25a8%25e0%25a7%258b%2F"
                  target="_blank">
                  <i class="fab fa-whatsapp"></i>
                </a>

                <a class="m-icon-button filled in-share"
                  href="https://twitter.com/intent/tweet?text=%E0%A6%AE%E0%A6%BF%E0%A7%9F%E0%A6%BE%E0%A6%A8%E0%A6%AE%E0%A6%BE%E0%A6%B0%E0%A7%87%E0%A6%B0+%E0%A6%A8%E0%A6%BF%E0%A6%B0%E0%A7%8D%E0%A6%AC%E0%A6%BE%E0%A6%9A%E0%A6%A8+%E0%A6%95%E0%A7%8B%E0%A6%A8%E0%A7%8B+%E0%A6%86%E0%A6%B8%E0%A7%8D%E0%A6%A5%E0%A6%BE%E0%A6%B0+%E0%A6%9C%E0%A6%BE%E0%A7%9F%E0%A6%97%E0%A6%BE+%E0%A6%A4%E0%A7%88%E0%A6%B0%E0%A6%BF+%E0%A6%95%E0%A6%B0%E0%A7%87+%E0%A6%A8%E0%A6%BE&amp;url=http%3A%2F%2Fblog.decktheme.ml%2F%25e0%25a6%25ae%25e0%25a6%25bf%25e0%25a7%259f%25e0%25a6%25be%25e0%25a6%25a8%25e0%25a6%25ae%25e0%25a6%25be%25e0%25a6%25b0%25e0%25a7%2587%25e0%25a6%25b0-%25e0%25a6%25a8%25e0%25a6%25bf%25e0%25a6%25b0%25e0%25a7%258d%25e0%25a6%25ac%25e0%25a6%25be%25e0%25a6%259a%25e0%25a6%25a8-%25e0%25a6%2595%25e0%25a7%258b%25e0%25a6%25a8%25e0%25a7%258b%2F&amp;"
                  rel="noopener" target="_blank">
                  <i class="fab fa-twitter"></i>
                </a>

                <a class="m-icon-button filled in-share"
                  href="https://www.facebook.com/sharer/sharer.php?u=/blog/{{post.post_url}}"
                  rel="noopener" target="_blank">
                  <i class="fab fa-facebook-f"></i>
                </a>


                <button class="m-icon-button filled in-share progress js-scrolltop" aria-label="Scroll to top">
                  <span class="icon-arrow-top" aria-hidden="true"></span>
                  <svg aria-hidden="true" viewBox="0 0 50 50" style="opacity: 1;">
                    <circle class="progress-ring__circle js-progress" fill="transparent" r="23" stroke-width="3" cx="25"
                      cy="25" style="stroke-dasharray: 157.08, 157.08; stroke-dashoffset: 157.08;"></circle>
                  </svg>
                </button>
              </div>
            </div>
            <figure class="kg-card kg-image-card kg-width-wide">
              <img src="/media/{{post.post_image}}" alt="{{post.post_title}}"></figure>
            <p>
              {{post.post_content|safe}}
            </p>
            <section class="m-tags in-post">
            </section>
          </div>
        </div>
      </div>

      <section class="m-author">
        <div class="m-author__content">
          <div class="m-author__picture">
            <a href="/{{post.post_user}}/{{post.post_user.id}}" class="m-author-picture" aria-label="admin">
              <div style="background-image: url('{{ post.post_user.profile.user_image.url }}');"></div>
            </a>
          </div>
          <div class="m-author__info">
            <h4 class="m-author__name">
              <a href="/{{post.post_user}}/{{post.post_user.id}}">{{post.post_user}}</a>
            </h4>
            <p class="m-author__bio">{{ post.post_user.profile.user_bio }}</p>
            <ul class="m-author-links">
              <li>
                <a href="{{ post.post_user.profile.author_url }}" target="_blank">
                  <span class="icon-globe" aria-hidden="true"></span>
                </a>
              </li>
              <li>
                <a href="{{ post.post_user.profile.author_fcebook_link }}" target="_blank">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <section class="m-recommended">
        <div class="l-wrapper in-recommended">
          <h3 class="m-section-title in-recommended">Recommended for you</h3>
          <div class="m-recommended-articles">
            <div class="m-recommended-slider glide js-recommended-slider glide--swipeable glide--ltr glide--slider">
              <div class="glide__track" data-glide-el="track">
                <div class="glide__slides"
                  style="transition: transform 0ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s; width: 423.667px; transform: translate3d(0px, 0px, 0px);">
                  {% for post in related_posts %}
                  <div class="m-recommended-slider__item glide__slide glide__slide--active" style="width: 423.667px;">
                    <article
                      class="m-article-card  post tag-masturbation tag-psychology tag-sex tag-sexuality-education tag-tricks">
                      <div class="m-article-card__picture">
                        <a href="/blog/{{post.post_url}}"
                          class="m-article-card__picture-link" aria-hidden="true" tabindex="-1"></a>
                        <img width="497" height="280" src="/media/{{post.post_image}}"
                          class="m-article-card__picture-background wp-post-image" alt="" loading="lazy"
                          srcset="/media/{{post.post_image}} 728w, /media/{{post.post_image}} 300w"
                          sizes="(max-width: 497px) 100vw, 497px"> <a href="{{post.post_user}}/{{post.post_user.id}}"
                          class="m-article-card__author js-tooltip" aria-label="admin"
                          data-tippy-content="Posted by admin ">
                          <div style="background-image: url('{{ post.post_user.profile.user_image.url }}');">
                          </div>
                        </a>
                      </div>
                      <div class="m-article-card__info">
                        <a href="/category/{{post.post_in_cat.cat_url}}" class="m-article-card__tag">{{post.post_in_cat}}</a>
                        <a href="/blog/{{post.post_url}}"
                          class="m-article-card__info-link"
                          aria-label="{{ post.post_title }}">
                          <div>
                            <h2 class="m-article-card__title js-article-card-title"
                              title="{{ post.post_title }}">
                              {{ post.post_title }} </h2>
                          </div>
                          <div class="m-article-card__timestamp">
                            <span>{{ post.whenpublished }}</span>
                            <span>•</span>
                            <span>{{post.get_readtime}}</span>
                          </div>
                        </a>
                      </div>
                    </article>
                  </div>
                  {% endfor %}
                </div>
              </div>

            </div>
          </div>
        </div>
      </section>
    </div>
  </article>
</main>
{%load static%}
<script src="{% static 'js/post.js'%}"></script>
{%endblock%}