* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

ul.header_sub_menu li a {
    display: none;
}

ul.header_sub_menu li.menu-item-has-children ul.sub-menu li a {
    display: block;
}

.page-numbers {
    display: none;
}

.m-pagination {
    width: 240px;
    max-width: 100%;
    position: relative;
}

.page_range {
    position: absolute;
}

.pagination_inner {
    height: 46px;
    width: 240px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.in-pagination-right {
    position: absolute;
    right: 0;
}

.in-pagination-left {
    position: absolute;
    left: 0;
}

.pagination_inner a {
    text-decoration: none !important;
}

.archive_ad{text-align: center;}
.archive_ad img{max-width: 100%; height: auto;}